.App {
  text-align: left;
  display: table;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Contact-list {
  list-style: none;
  display: table-cell;
}

.Details-pane {
  display: table-cell;
  vertical-align: top;
  height: auto;

}

.New-contact {
  display: block;
}

.Save-button {
  vertical-align: baseline;
}

.Delete-button {
  vertical-align: baseline;
}